<h4><%= link_to show.title, best_link(show), :class => 'title' %></h4>
<strong>By:</strong> <%= show.writer %><br />
<%= show.tagline if !show.tagline.blank? %><%= raw "<br />" if !show.tagline.blank? %>
<strong>Directed By:</strong> <%= show.director %><br />
<strong>Place:</strong> <%= show.location %><br />
<%= format_showtimes(show.showtimes) %>