<div class="show-listing span4">
	<div class="poster">
		<% if show.poster.exists? %>
			<%= link_to square_show_thumb(show.poster), best_link(show) %>
		<% else %>
			<div class="swatch <%= color_palette %>"></div>
		<% end %>
	</div>
	<div class="info">
		<h4>
			<%= link_to_show_title show%>
		</h4>
		<p class="show-writer">by <%= show.writer %></p>
		<p><%= format_long_rundates(show) %>
    		<% if !show.location.blank? %>
    		  <br />@ <%= show.location %>
    		<% end %>
		</p>
	</div>
</div>