<div class="show_group upcoming this_week">
	<% if shows.length < 1 %>
		No shows currently scheduled!
	<% end %>
	
	<!-- TODO: Make a third span with showtimes? -->
	<% shows.each_with_index do |show,i| %>
		<div class="row show">
		<% if i % 2 == 0 && show.poster.exists? %>
			<div class="span6 poster"><%= image_tag show.poster.url(:medium) %></div>
			<div class="span6 info">
				<%= render :partial => "shared/show_listing", :locals => { :show => show } %>
			</div>
		<% elsif show.poster.exists? %>
			<div class="span6 info">
					<%= render :partial => "shared/show_listing", :locals => { :show => show } %>
			</div>
			<div class="span6 poster"><%= image_tag show.poster.url(:medium) %></div>
		<% else %>
				<div class="span6 offset3 info">
						<%= render :partial => "shared/show_listing", :locals => { :show => show } %>
				</div>
		<% end %>
	</div>
	<% end %>
</div>