<div class="show_listing">
	<div class="poster">
		<% if show.poster.exists? %>
			<%= link_to (image_tag show.poster.url(:thumb)), best_link(show) %>
		<% else %>
			<div class="swatch <%= color_palette %>">
			</div>
		<% end %>
	</div>
	<div class="info">
		<h4>
			<%= link_to show.title, best_link(show) unless show.id.blank? %>
		</h4>
		<p data-field="show_writer">
			<b>by <%= show.writer %></b>
		</p>
		<p><span data-field="show_showtimes"><%= format_long_rundates(show) %></span><br />
		@ <span data-field="show_location"><%= show.location %></span></p>
	</div>
</div>