<div class="show-listing span4 clearfix">
	<div class="poster">
		<% if show.poster.exists? %>
			<%= link_to raw(square_show_thumb(show.poster, lazy)), best_link(show) %>
		<% else %>
			<%= link_to "", best_link(show), :class => "swatch #{color_palette}" %>
		<% end %>
	</div>
	<div class="info">
		<h4>
			<%= link_to_show_title show %>
		</h4>
		<p class="show-writer">by <%= show.writer %></p>
		<p><%= format_long_rundates(show) %>
    		<% if !show.location.blank? %>
    		  <br />@ <%= show.location %>
    		<% end %>
		</p>
	</div>
</div>