<!-- The ROW class needs to contain the color sets -->
<% if show.poster.exists?  && show.poster.height(:medium) >= show.poster.width(:medium) && row_count <= 2 # vertical/square poster 2-item row %>
	<div class="row <%= color_palette %>">
		<div class="span3 poster"><%= image_tag show.poster.url(:medium) %></div>
		<div class="span3 info">
<% elsif show.poster.exists? && row_count <= 2 # horizontal poster, in a 2-item row...poster as background %>
	<div class="poster-bg row <%= color_palette %>" style="background-image: url('<%= show.poster.url(:medium) %>'); min-height: <%= show.poster.height(:medium) %>px; ">
		<div class="span3 offset3 text-on-image info" style="height: <%= show.poster.height(:medium) - 30 %>px;">
<% elsif show.poster.exists? && show.poster.height(:medium) >= show.poster.width(:medium) && row_count == 3 # vertical poster, in a 3-item row...poster above  %>
	<div class="poster-bg row <%= color_palette %>" style="background-image: url('<%= show.poster.url(:medium) %>'); min-height: <%= show.poster.height(:medium) %>px; ">
		<div class="text-on-image info span4" style="position: absolute; bottom: 0px; height: <%= show.poster.height(:medium) - 30 %>px;">
<% elsif show.poster.exists? && row_count == 3 # horizontal poster, in a 3-item row...poster above  %>
	<div class="row <%= color_palette %>">
		<div class="top poster"><%= image_tag show.poster.url(:medium) %></div>
		<div class="bottom info">
<% else # No Poster %>
	<div class="row info full <%= color_palette %>">

<% end %>
		<p data-field="show_title" class="title"><%= link_to show.title, best_link(show) unless show.id.blank? %></p>
		<p data-field="show_writer"><%= show.writer %></p>

		<p><span data-field="show_showtimes"><%= format_long_rundates(show) %></span><br />
		@ <span data-field="show_location"><%= show.location %></span></p>
		<a class="btn btn-primary" href="<%= best_link(show) %>">
			<i class="icon-arrow-right icon-white"></i>
			Details
		</a>
		<% if !show.tix_enabled && show.alt_tix %>
			<a class="btn btn-primary" href="<%= show.alt_tix %>">
				<i class="icon-ok icon-white"></i>
				Tickets*
			</a>
		<% elsif show.tix_enabled && show.on_sale && Time.now > show.on_sale %>
			<a class="btn btn-primary" href="<%= show_reservations_path(show) %>">
				<i class="icon-ok icon-white"></i>
				Tickets
			</a>
		<% end %>
	</div>

<% if show.poster.exists? %>
	</div>
<% end %>