<div class="row" style="text-align: center">
	<div class="span12">
		<b>Yale Drama Coalition</b> presents
		<hr style="width: 100px; margin: 10px auto;"/>
	</div>
</div>

<div class="this_week">
	<% @rows.each do |items| %>
		<% this_class = items.length == 2 ? "span6" : "span4" %>
		<% this_class = "span12" if items.length == 1 %>

		<div class="row">
		<% items.each do |item| %>
			<div class="<%= this_class %> item">
				<% if item.is_a? Show %>
					<%= render :partial => 'shared/show_frontpage', :locals => { :show => item, :row_count => items.length, :color_palette => cycle("red", "blue","yellow", "light-blue") } %>
				<% else %>
					<%= item %>
				<% end %>
			</div>
		<% end %>
		</div>
	<% end %>
</div>


    Welcome to the website of the <b>Yale Drama Coalition</b>, an organization for the coordination of undergraduate theater at Yale. This site contains everything students need to find information on current shows at Yale, as well as resources for producing shows.
<br><br>
If you haven't already, we recommend you sign up for our weekly wailing list! TODO: Insert Link/Form Here <br /><br />

<hr />
<div class="news">
	<% @news.each do |news| %>
		<h2><%= news.title %></h2>
		<h4>Posted by: <%= news.poster %></h4>
		<h5><%= full_timestamp(news.created_at) %></h5>
		<%= raw news.text %>
	<% end %>
</div>