<% content_for :head do %>
	<script>
		var show_showtimes = <%= raw @showtime_data.to_json %>;
	</script>
<% end %>
<div class="emergency-update">
	<hr />
	<Font Color="FF0000">
		<strong>EMERGENCY WEATHER UPDATE:</strong> Please scroll down to see show cancellation information for Saturday February 9th, 2013.
	</Font>
	<hr />
</div>
<div class="section-intro">
	Coming soon in <strong>Yale Theater</strong>
	<hr />
</div>

<div class="this_week">
  <% if @rows.detect{|row| !row.empty?} %>
		<% @rows.each do |items| %>
			<% this_class = items.length == 2 ? "span6" : "span4" %>
			<% this_class = "span6 offset3" if items.length == 1 %>

			<div class="row">
			<% items.each do |item| %>
				<div class="<%= this_class %> item">
					<% if item.is_a? Show %>
						<% 
								# OK, you caught me. This is a sudo-hack. We need to render the front page item twice, once for normal clients, and once for phones
								# The top one is phone-hidden, while the bottom is the one we show on phones, hacked to display more prettily
							 color_class = item.accent_color ? [item.accent_color] : [cycle("red", "blue","yellow","black","dark_blue","green", "light_blue")] 
							 css_classes = color_class + ['hidden-phone']
						%>
						<%= render :partial => 'shared/show_frontpage', :locals => { :show => item, :row_count => items.length, :css_classes => css_classes.join(' ') } %>
						<% css_classes = color_class + ['visible-phone'] %>
						<%= render :partial => 'shared/show_frontpage_mobile', :locals => { :show => item, :css_classes => css_classes.join(' ') } %>
					<% else %>
						<%= item %>
					<% end %>
				</div>
			<% end %>
			</div>
		<% end %>
	<% else %>
       <h5 id="no-upcoming" class="aligncenter">There are no upcoming shows... yet. Please check back soon.</h5>
	<% end %>
	<div class="row aligncenter">
	   <div class="span12">
    	   <%= link_to "See the Full Calendar", shows_path, :id => "full-calendar", :class => "btn btn-light" %>
	   </div>
	</div>
</div>

</div><!-- End of #main -->

<div id="news">
    <div class="container">
        <div class="section-intro">
    		Yale Drama Coalition's <strong>Latest News</strong>
    		<hr />
    	</div>
    
    	<%= render :partial => "news", :collection => @news %>
    </div>