<% content_for :head do %>
	<script>
		var show_showtimes = <%= raw @showtime_data.to_json %>;
	</script>
<% end %>
<!--<div class="emergency-update">
			<hr />
			<Font Color="FF0000">
				<strong>EMERGENCY WEATHER UPDATE:</strong> Please scroll down to see show cancellation information for Saturday February 9th, 2013.
			</Font>
			<hr />
		</div>
-->

<!-- ADDED FOR SUMMER 2013 -->
<!-- Maintained for reference:
	<center>
		<font size="1000"><strong>WELCOME CLASS OF 2017</strong></font> <br />
		<img class="board_pic" src="/static/images/summer/Y2017.jpg">
	</center>
	<table border="0" cellpadding="3">
		<tr>
			<td width="80%">
				<p><strong>The Yale Drama Coalition (YDC)</strong> was founded in 1999 and seeks to foster communication and collaboration within the undergraduate theater community and provides guidance and resources for theatrical productions. We’re here to help you get connected in the theater world at school.</p>
				<p>Most important: <strong><%= link_to "CLICK HERE", guides_path('newsletter') %> to sign up for our newsletter</strong> -this is the best way to stay up to date on auditions and technical opportunities, upcoming shows, theater-related events, workshops, internships, etc. It's the easiest way for us to communicate with theater-minded folk, so we recommend you register if you want to be informed!</p>
				<p><strong>The YDC Season Preview will be held on Sunday August 25th.</strong> This is the time when all fall shows and theater groups make a brief pitch to introduce their shows and give information about auditions and tech opportunities. This is the perfect opportunity to meet theater people, mingle and ask questions, and sign up to audition/work on fall shows. No experience necessary! The season preview will be held in the <%= link_to "Off Broadway Theater behind Toad's Place", "https://plus.google.com/117515129239179828320/about?gl=us&hl=en", :confirm => "This link will take you away from the Yale Drama Coalition website" %>. Time TBD, check back here for updates!</p>
				<p>Scroll around our website - we think it's pretty nifty! Be sure to check out the <a href="http://yaledramacoalition.org/shows"><strong>SHOWS</strong></a> page for details on past shows (and, as the summer progresses, shows that will go up in the coming semester)!
				<p>Below is some general info to get you started. But don't hesitate to be in touch – you can click <a href="http://yaledramacoalition.org/resources#board">here</a> to see our full board and click our names to shoot us an email.</p>
			</td>
		</tr>
	</table>
	<table border="0" cellpadding="10">
	  	<th><font size="4">FOR ACTORS:</font></th>
	  	<th><font size="4">FOR TECHIES:</font></th>
	  	<th><font size="4">FOR DIRECTORS, STAGE MANAGERS, and PRODUCERS:</font></th>
	  	<tr>
		    <td width="33%">
				<p>Read about <%= link_to "the audition process at Yale", guides_path('auditioning') %> here.</p>
				<p>Short version? It’s good to have a monologue prepared over the summer, and songs for musicals. Be 15 minutes early. Dress comfortably. Bring water. Have fun.</p>
			</td>
		    <td width="33%">
				<p>The Season Preview will be your best time to meet all of the producers and see what tech positions they’re looking to fill. You’ll also find the <a href="http://yaledramacoalition.org/opportunities"><strong>OPPORTUNITIES</strong></a> page useful – don’t be afraid to email producers and offer your skills. It’s great to assist a more experienced upperclassman your freshman fall (i.e. be an assistant master electrician, or assistant set designer -- don't know what those are? No worries!) so you can learn the ropes.</p>
			</td>
		    <td width="34%">
				<p>Our best advice is to assistant direct/produce/stage manage a show or two in the fall to learn the ropes from upperclassmen. Go to the season preview and see which shows spark your interest, then chat with those directors or producers to figure out where you fit best. You can use the YDC site to see what shows they’ve worked on in the past – simply search their name using the search bar at the top of the page. Directors may conduct interviews to select assistant directors.</p>
			</td>
	 	</tr>
	</table>
	<p>Regardless of what you're interested in, take a look at our newly updated How-To guides on the right-hand side of the <a href="http://yaledramacoalition.org/resources">resources</a> page. And if you have any questions... feel free to email any of the YDC <a href="http://yaledramacoalition.org/resources#board">board members</a> - our interests are listed right next to our names.</p>
	<hr />

	<center> 
		<font size="1000"><strong>Not an incoming freshman?</strong></font> <br />
		<strong>The YDC has new stuff for you too!</strong><br />
		Here's a brief preview!
	</center>
	<ul>
		<li>New show types are now allowed on the YDC! Starting Fall, 2013, YDC is the go-to advertising and ticketing site for all undergraduate theater, dance, and <i>improv</i> shows!</li>
		<li>The <strong>Yale Theater Wiki</strong> will launch this fall - a place to store and pass down tips and tricks we learn!</li>
		<li>New and improved How-To section (see the sidebar on the <a href="http://yaledramacoalition.org/resources">resources</a> page).</li>
	</ul>
	<hr />
-->
	<!-- END ADDED FOR SUMMER 2013 -->

<div class="section-intro">
	Coming soon in <strong>Yale Theater</strong>
	<hr />
</div>

<div class="this_week">
  <% if @rows.detect{|row| !row.empty?} %>
		<% @rows.each do |items| %>
			<% this_class = items.length == 2 ? "span6" : "span4" %>
			<% this_class = "span6 offset3" if items.length == 1 %>

			<div class="row">
			<% items.each do |item| %>
				<div class="<%= this_class %> item">
					<% if item.is_a? Show %>
						<% 
								# OK, you caught me. This is a sudo-hack. We need to render the front page item twice, once for normal clients, and once for phones
								# The top one is phone-hidden, while the bottom is the one we show on phones, hacked to display more prettily
								# dammit charlie...
							 color_class = item.accent_color ? [item.accent_color] : [cycle("red", "blue","yellow","black","dark_blue","green", "light_blue")] 
							 css_classes = color_class + ['hidden-phone']
						%>
						<%= render :partial => 'shared/show_frontpage', :locals => { :show => item, :row_count => items.length, :css_classes => css_classes.join(' ') } %>
						<% css_classes = color_class + ['visible-phone'] %>
						<%= render :partial => 'shared/show_frontpage_mobile', :locals => { :show => item, :css_classes => css_classes.join(' ') } %>
					<% else %>
						<%= item %>
					<% end %>
				</div>
			<% end %>
			</div>
		<% end %>
	<% else %>
       <h5 id="no-upcoming" class="aligncenter">There are no upcoming shows... yet. Please check back soon.</h5>
	<% end %>
	<div class="row aligncenter">
	   <div class="span12">
    	   <%= link_to "See the Full Calendar", shows_path, :id => "full-calendar", :class => "btn btn-light" %>
	   </div>
	</div>
</div>

</div><!-- End of #main -->

<div id="news">
    <div class="container">
        <div class="section-intro">
    		Yale Drama Coalition's <strong>Latest News</strong>
    		<hr />
    	</div>
    
    	<%= render :partial => "news", :collection => @news %>
    </div>