<% content_for :head do %>
	<script>
		var show_showtimes = <%= raw @showtime_data.to_json %>;
	</script>
<% end %>

<div class="row">
	<div class="section-intro">
		Coming soon in <strong>Yale Theater</strong>
		<hr />
	</div>
</div>

<div class="this_week">
	<% @rows.each do |items| %>
		<% this_class = items.length == 2 ? "span6" : "span4" %>
		<% this_class = "span6 offset3" if items.length == 1 %>

		<div class="row">
		<% items.each do |item| %>
			<div class="<%= this_class %> item">
				<% if item.is_a? Show %>
					<%= render :partial => 'shared/show_frontpage', :locals => { :show => item, :row_count => items.length, :color_palette => item.accent_color ? item.accent_color.to_s : cycle("red", "blue","yellow","black","dark_blue","green", "light_blue") } %>
				<% else %>
					<%= item %>
				<% end %>
			</div>
		<% end %>
		</div>
	<% end %>
	
	<div class="row aligncenter">
	   <%= link_to "See the Full Calendar", shows_path, :id => "full-calendar", :class => "btn btn-light" %>
	</div>
</div>



</div><!-- End of #main -->

<div id="news">
    <div class="container">
        <div class="section-intro">
    		Yale Drama Coalition's <strong>Latest News</strong>
    		<hr />
    	</div>
    
    	<%= render :partial => "news", :collection => @news %>
    </div>