<?PHP

require_once("init.php");

disp_header("resources");
?>

<!--
<b>Information for Incoming Freshmen</b><br><br>
Congratulations to the coming class of 2014!  Since you worked so hard to get to Yale, we decided to make your life a little easier by compiling information to guide any of you interested in theater:
<br><br><b><a href="files/YDC_freshmen_2013.doc">The Yale Drama Coalition Letter for Freshmen</a> </b>(Word document)
<br><br><hr><br>
-->

<b>Dummies' Guide to Theater at Yale</b><br><br>
We're all of us dummies. This section of the YDC website is dedicated to facilitating the creation of theatre at Yale by disseminating knowledge and experiences. This is by no means a flawless document; rather, it is a collection of dynamic information that aims to help you accomplish your goals. Our desire is to help each other create top quality theater at Yale. Please help us by reading through the Dummies' Guide and emailing the YDC with comments or suggestions.
<br>

<ol>
<li><%= link_to "How to Abide by the Undergraduate Guidelines", guides_path('guidelines') %></li>
<li><%= link_to "How to Act", guides_path('acting') %></li>
<li><%= link_to "How to Produce", guides_path('produce') %></li>
<li><%= link_to "How to Get a Theater Space", guides_path('spaces') %></li>
<li><%= link_to "How to Write", guides_path('writing') %></li>
<li><%= link_to "How to Fill Your Stage With Props", guides_path('props') %></li>
<li><%= link_to "How to Sound Design", guides_path('sound') %></li>
<li><%= link_to "How to Light a Show", guides_path('light') %></li>
<li><%= link_to "How to Costume a Show", guides_path('costumes') %></li>
<li><%= link_to "How to Market a Show", guides_path('market') %></li>
<li><%= link_to "How to Direct a Show", guides_path('directing') %></li>
<li><%= link_to "How to Get Sudler Funding", guides_path('sudler') %></li>
</ol>

<table cellpadding="20" border="0"><tr><td>
</td></tr></table><hr><br>
<b>Other Resources</b><br><br>
1) <a href="http://www.yale.edu/oup/" target="new">The OFFICE OF UNDERGRADUATE PRODUCTIONS Website</a><br>
2) <a href="http://www.yale.edu/oup/spaces/matrix.html" target="new">Locations of Theater Spaces at Yale</a><br>
3) <a href="http://www.yale.edu/oup/forms/index.html" target="new">Off-Broadway Theater Proposal Form</a><br>
4) <a href="#" onClick="window.open('./static/guides/recommendedreading.html','mywindow','width=600,height=800,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">Recommended Reading (et al) from Theater Studies Professors</a><br>
5) <a href="#" onClick="window.open('./archives/arch-alumni.html','mywindow','width=600,height=800,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,copyhistory=no,resizable=yes')">YDC Alumni</a><br>

<br><hr><br>

<b>Theater Studies Information</b><br><br>
<i>Introduction (from the Theater Studies website):</i><br>
As a major within the humanities and as a complex cultural practice, theater claims a rich history and literature and an equally rich repertoire of embodied knowledge and theory. Theater Studies emphasizes the reciprocal relationship between practice and scholarly study. The content of required courses in the major is almost equally divided between theory and practice. Students are encouraged to engage intellectual and physical approaches to explore diverse cultural forms, historical traditions, and contemporary life.
<br><br>
The study of theater is interdisciplinary in scope and global in perspective. Students are expected to take courses also in cognate disciplines such as history, philosophy, anthropology, political science, film, art, music, literature, and foreign languages. Faculty members are affiliated with a range of departments and programs; their diverse expertise lends breadth and depth to course offerings and enables students to devise a course of study reflective of their developing interests.
<br><br>
<a href="http://www.yale.edu/theaterstudies/" target="new">Theater Studies Department Home</a><br>
<a href="#" onClick="window.open('thst-contacts.html',Theater Studies Contact Info</a><br>
<br>
The equivalents for the rehearsal studios in 254 York Street this year are the acting studio on the second floor at 212 York and the ballroom in the Fence Club, 220 York. Audrey Healy (<a href="mailto:audrey.healy@yale.edu">audrey.healy@yale.edu</a>) has sign-up sheets, guidelines, and keys to issue when you're ready to start thinking about booking time in these spaces. 
