<div class="row reservation-form">
	<div class="span6 offset3">
		<div class="show-info-header">
			<h2><%= @show.title %></h2>
			<p class="writer"><%= @show.writer %></p>
			<p class="tagline"><%= @show.tagline %></p>
			@ <%= @show.location %>
		</div>
		<hr />

		<% if !@reservation.id.blank? %>
			Current Status: <b>
			<% num_before = @reservation.showtime.reservations.where(["updated_at < ?", @reservation.updated_at]).sum(:num)  %>
			<%= @reservation.status_line %>
			</b><br /><br />
			<%= link_to image_tag("iCal_icon.gif"), show_reservation_path(@show, @reservation, :auth_code => @reservation.token, :format => :ics) %> &nbsp;
			<%= gcal_link_from_reservation(@reservation).html_safe %>
			<br /><br />
			Please refer to the url of this page to edit your reservation<br />
			<br />
			NOTICE: Changing your reservation in any way, except for lowering the number of ticket, will move you to the back of the waitlist. Please ensure this is what you want before submitting.<br /><br />
		<% end %>


		Please select a showtime:<br />
		<br />
		<%= form_for [@show, @reservation] do |f| %>
			<% @show.showtimes.each do |showtime| %>
				<%= render :partial => "showtime_reservation_line", :locals => {:form => f, :showtime => showtime} %><br />
			<% end %>
			<br /><br />
			<%= f.label :fname, "First Name" %> <%= f.text_field :fname %><br />
			<%= f.label :lname, "Last Name" %> <%= f.text_field :lname %><br />
			<%= f.label :email, "Email" %> <%= f.text_field :email %><br />
			<%= f.label :num, "Number of Tickets" %> <%= f.number_field :num, :min => 1, :max => @show.cap %><br />
			<%= f.label :reservation_type, "Who are you?" %> <%= f.select :reservation_type_id, options_from_collection_for_select(ReservationType.all, :id, :tix_type) %><br />
			<%= f.hidden_field :auth_code, :value => params[:auth_code] unless params[:auth_code].blank? %>
			<%= f.submit "Submit", :confirm => "Are you sure the information is correct? Any ticket reductions will be permenant." %>
		<% end %>
		<% if !@reservation.id.blank? %>
			<br />
			<%= button_to "Cancel Reservation", [@show,@reservation], :method => :delete, :confirm => "Are you sure you want to cancel this reservation? This cannot be undone." %>
		<% end %>
	</div>
</div>