<% javascript 'showtimes.js' %>

<h2>
  <%= @show.title %> -
  <%= full_timestamp(@showtime.timestamp) %>
</h2>

<p><%= link_to "View this guest list as a spreadsheet", show_showtime_path(@show, @showtime, format: :csv) %></p>

<div id="ajax-calls-global-data" style="display: none;"
  show_id="<%= @show.id %>"
  showtime_id="<%= @showtime.id %>">
</div>

<div class="row-fluid">
  <div class="span6 reservations-lists">

    <h3>Confirmed</h3>
    <p><em>Alphabetical by last name</em></p>

    <div class="confirmed-list">
      <% @confirmed.each do |reservation| %>
        <div class="reservation-group" reservation_id="<%= reservation.id %>">
          <% reservation.num.times do %>
            <a class="btn reservation-member">
              <%= reservation.lname.capitalize %>, <%= reservation.fname.capitalize %>
            </a>
          <% end # reservation member %>
          <%= image_tag "loading.gif", class: "saving", style: "display: none;" %>
        </div>
      <% end # reservation %>
    </div>

    <h3>Waitlist</h3>
    <p><em>In the order they signed up</em></p>

    <div class="waitlist">
      <% @waitlist.each do |reservation| %>
        <div class="reservation-group" reservation_id="<%= reservation.id %>">
          <% reservation.num.times do %>
            <a class="btn reservation-member">
              <%= reservation.lname.capitalize %>, <%= reservation.fname.capitalize %>
            </a>
          <% end # reservation member %>
          <%= image_tag "loading.gif", class: "saving", style: "display: none;" %>
        </div>
      <% end # reservation %>
    </div>
  </div>
</div>

<div class="totals-box well">
  <%= image_tag "loading.gif", class: "saving" %>

  <table>

    <tr>
      <th></th>
      <th>On List</th>
      <th>Admitted</th>
    </tr>

    <tr>
      <th class="text-right">Reserved</th>
      <td class="text-center count-confirmed-reserved">??</td>
      <td class="text-center count-confirmed-admitted">??</td>
    </tr>

    <tr>
      <th class="text-right">Waitlist</th>
      <td class="text-center count-waitlist-reserved">??</td>
      <td class="text-center count-waitlist-admitted">??</td>
    </tr>

    <tr>
      <th class="text-right">Walk-ins</th>
      <td class="text-center">
        <a class="btn add-walkin">+</a> / <a class="btn remove-walkin">-</a>
      </td>
      <td class="text-center count-walkins-admitted">??</td>
    </tr>

    <tr>
      <th class="text-right">Total</th>
      <td></td>
      <td class="text-center"><strong class="count-total-admitted">??</strong></td>
    </tr>

    <tr>
      <th class="text-right">Seats available</th>
      <td></td>
      <td class="count-seats text-center"><strong class="text-info"><%= @show.seats %></strong></td>
    </tr>

  </table>
</div>
