<li>
	<i class="icon-move"></i>
<% if(f.object && f.object.position_id == 17) %>
	<%= f.text_field :character, :placeholder => "Character" %>
	<%= f.text_field :name, :class => "person", :value => f.object.person ? f.object.person.display_name : "", :placeholder => "Student Name" %>
	<%= f.hidden_field :position_id, :value => 17 %>
	<%= f.hidden_field :listing_order %>
	<%= f.hidden_field :person_id, :class => "person_id" %>
	<%= link_to_remove_fields "<i class='icon-remove'></i>".html_safe, f %>
<% else %>
	<%= f.enum_select :assistant %>
	<%= f.collection_select(:position_id, Position.where("`id` != 17"), :id, :position, :include_blank => true) %>
	<%= f.text_field :name, :class => "person", :value => f.object.person ? f.object.person.display_name : "", :placeholder => "Student Name" %>
	<%= f.hidden_field :listing_order %>
	<%= f.hidden_field :person_id, :class => "person_id" %>
	<%= link_to_remove_fields "<i class='icon-remove'></i>".html_safe, f %>
<% end %>
</li>