<% javascript 'shows.js' %>

<% if @show.errors.any? %>
	<ul>
	<% @show.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @show, :validate => true, :html => { :multipart => true } do |f| %>
	<div class="row show-form">
	  <div class="span6">
			<h4>Show Details</h4>
			<p>Tell us a bit about your awesome show!</p>

			<%= f.enum_select :category %><br />
			<%= f.text_field :title, :class => "required", :placeholder => "Title", :validate => true %><br />
			<div id="title_length_warning" class="alert" style="display:none; width: 85%; line-height: 18px;">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Warning!</strong> Consider using a tagline below to keep your title short. Longer titles may not appear as nicely throughout the site.
			</div>
			<%= f.text_field :writer, :class => "required", :placeholder => "Writer", :validate => true %><br />
			<%= f.text_field :tagline, :placeholder => "Tagline" %><br />
			<%= f.text_area :description, :class => "required", :placeholder => "Summary/History/Other Info", :validate => true %><br />
			<%= f.text_field :contact, :class => "required", :placeholder => "Contact Email Address", :validate => true %><br />
			<%= f.text_field :url_key, :placeholder => "Unique URL" %><br />
			<p class="field_explanation">
				Your show will be accessible at
				<span id="url-key-preview">http://<%= request.host_with_port %>/<span data-field="show_url_key">your-url</span></span>
			</p>
			
			<hr />
			
			<h4>Design Details</h4>
			<p>Help sell your show by making it stand out in the crowd</p>

			<% if @current_user.site_admin? %>
			<%= f.text_field :flickr_id, :placeholder => "Flickr Gallery ID" %>
			<p class="field_explanation">
				If this show has a Flickr gallery, please enter the ID here
			</p>
			<% end %>

			<span id="btn-upload" class="btn">
				<%= f.file_field :poster %>
				<span class="btn-text" data-default-text="Upload a poster" data-selected-text="Choose a different file">Upload a poster</span>
            </span>
            <span id="upload-file" class="field_explanation"></span>
            <br />

			<b>Choose an accent color...</b>
			<div class="row" style="padding-left: 20px;">
			<% @show.column_for_attribute(:accent_color).limit.each do |color| %>
				<div class="color-item">
					<%= label_tag("show_accent_color_#{color.to_s}", "<div class='swatch #{color.to_s}'></div>".html_safe) %>
					<%= f.radio_button(:accent_color, color.to_s) %>
				</div>
			<% end %>
			</div>

			<hr />

			<h4>Scheduling and Tickets</h4>
			<p>Fill in what you know, but we'll need at least one date and time to get started</p>

			<%= f.text_field :location, :class => "required", :placeholder => "Location", :validate => true %><br />
	  	    <ol class="showtimes">
				<%= f.fields_for :showtimes do |builder| %>
					<%= render 'showtime_fields', :f => builder %>
				<% end %>
				<li><%= link_to_add_fields "Add Showtime", f, :showtimes %></li>
			</ol>

			<%= f.check_box :tix_enabled %>
			<%= f.label :tix_enabled, "Enable YDC Ticketing System" %>
			<a href="#" rel="tooltip" title="This system allows you to automatically accept and manage reservations through the YDC site. We highly recommend it!">What's this?</a><br />

			<div class="tix_off">
				<%= f.text_field :alt_tix, :placeholder => "Alternate Ticketing Address" %><br />
				<p class="field_explanation">
					An optional URL or email address where users will be sent to request tickets
				</p>
			</div>

			<div class="tix_on">
				<%= f.number_field :seats %><%= f.label :seats, "Seats Available" %>
				<%= f.number_field :cap %><%= f.label :cap, "Max seats per resevation" %><br />
				<%= f.label :on_sale, "Allow ticket reservations starting" %><%= f.text_field :on_sale, :class => "date", :value => @show.on_sale ? @show.on_sale.strftime("%m/%d/%Y") : Time.now.strftime("%m/%d/%Y") %><br />
				<%= f.label :freeze_mins_before do 
							("Freeze ticket sales " + f.number_field(:freeze_mins_before, :value => @show.freeze_mins_before ? (@show.freeze_mins_before / 60.0).round(1) : 2) + " hours before showtime(s)").html_safe
						end
				%><br />
				<%= f.check_box :waitlist %>
				<%= f.label :waitlist, "Enable Waitlist" %>
				<a href="#" rel="tooltip" title="A waitlist allows you to take reservations even when the theater is full. If people cancel tickets, waitlisters will automatically be notified. The waitlist itself is capped at the number of seats given above">What's this?</a><br />
				<%= f.check_box :charges_at_door %>
				<%= f.label :charges_at_door, "Charges at the Door" %>
				<a href="#" rel="tooltip" title="Informs the customer there is a cost of admittance to this production.">What's this?</a><br />
			</div>
			<hr />
			<h4>Permissions</h4>
			<a href="#" rel="tooltip" title="These are the people (besides you) who will be able to access your show to edit it (or portions of it)">What's This?</a>
			<div class="permissions">
				<ul>
					<%= f.fields_for :permissions do |builder| %>
						<%= render 'permission_fields', :f => builder %>
					<% end %>
					<li><%= link_to_add_fields "Add Permission", f, :permissions %></li>
				</ul>
			</div>			
	
			<p><%= f.submit @show.id ? "Submit" : "Next Step", :class => "btn" %></p>
		</div>

		<div class="span6 hidden-phone">
			<h4>Design Preview</h4>
			<p>See what your shows will look like on the YDC Homepage</p>
			<div class="frontpage-preview">
				<div class="row">
					<div class="span6 item">
						<%= render :partial => 'shared/show_frontpage', :locals => { :show => @show, :row_count => 2, :css_classes => @show.accent_color ? @show.accent_color.to_s : "black" } %>
					</div>
				</div>
				<div class="row">
					<div class="span4 item">
						<%= render :partial => 'shared/show_frontpage', :locals => { :show => @show, :row_count => 3, :css_classes => @show.accent_color ? @show.accent_color.to_s : "black" } %>
					</div>
				</div>
			</div>
		</div>
<% end %>