<% content_for :head do %>
	<% if params[:url_key].blank? && !@show.url_key.blank? %>
		<link type="canonical" href="<%= vanity_path(@show.url_key) %>">
	<% end %>
<% end %>

<div class="row">
	<div class="span12 show-header">
		<% if !@show.approved %>
			<div class="alert alert-info"><strong>DRAFT VIEW - Awaiting Approval</strong></div>
		<% end %>
		<h2 class="<%= @show.accent_color ? @show.accent_color.to_s : 'no_color' %>"><%= @show.title %></h2>
		<p class="writer lg">by <%= @show.writer %></p>
		<p class="tagline"><%= @show.tagline %></p>
	</div>
</div>

<% if @show.poster.exists? %>
	<div class="row">
		<div class="span12 poster">
			<%= image_tag @show.poster.url %>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="span8 offset2 description lg">
		<%= sanitize(@show.description, :tags => %w(b i em strong a br)).gsub(/\n/, '<br/>').html_safe %>
	</div>
</div>

<div class="row">
	<div class="span4 offset2 performances lg">
		<h5>Performances</h5>
		<% @show.showtimes.each do |showtime| %>
			<%= raw style_full_showtime(showtime.timestamp) %><br />
		<% end %>
		<span class="performances-location">@ <%= @show.location.blank? ? "TBA" : @show.location %></span>
	</div>
	<div class="span4 reservations">
		<h5>Reservations</h5>
		<%= get_reservation_line(@show, true) %>
	</div>
</div>

<div class="row">
	<div class="span8 offset2 description lg">
		<font size=-3>Patrons should arrive at the theater 15 minutes before the performance to claim their reservation. At the scheduled performance time, patrons will be let in off of the waitlist based on when they signed up on the YDC website. Patrons with reservations arriving after this time will be treated as if they are at the top of the waitlist. Please see the full policy <%= link_to "here", "http://up.yalecollege.yale.edu/ticketing-policy-ydc-reserved-shows" %>.</font>
	</div>
</div>

<div class="row cast-crew">
	<div class="span4 offset2 cast">
		<h5>Cast</h5>
		<table>
			<% @show.cast.select(&:person).each do |sp| %>
				<tr><td><%= sp.display_name %></td><td><%= link_to sp.person.display_name, sp.person %></td></tr>
			<% end %>
		</table>
		<% if @show.has_future_auditions? %>
			<br />
			<%= link_to "Audition Information", show_auditions_path(@show) %>
		<% end %>
	</div>

	<div class="span4 crew">
		<h5>Production Staff</h5>
		<table>
			<% @show.crew.select(&:person).each do |sp| %>
				<tr><td><%= sp.display_name %></td><td><%= link_to sp.person.display_name, sp.person %></td></tr>
			<% end %>
		</table>
		<% if @show.has_opportunities? %>
			<br />
			<%= link_to "Find tech opportunities", opportunities_path %>
		<% end %>
	</div>
</div>

<% if @s3_objects.count > 0 || !@show.flickr_id.blank? %>
	<div class="row">
		<div class="span8 offset2 media">
			<h5>Media &amp; Downloads</h5>
			<% @s3_objects.in_groups_of(3) do |arr| %>
				<div class="row">
					<% arr.each do |obj| %>
						<div class="span2">
							<%= link_to obj.key.split("/")[-1], "#{obj.url_for(:read)}" %>
						</div>
					<% end %>
				</div>
			<% end %>
			<% unless @show.flickr_id.blank? %>
				<div class="row">
					<h5>Slideshow</h5>
					<div class="slideshow" id="flickr_show">
					    <p>Please enable Javascript to view this slideshow</p>
					</div>
				</div>
				<% content_for :head do %>
					<%= javascript_include_tag("flickrshow-7.2.js") %>
				<% end %>
				<script>
				$(document).ready(function() {
					var flickr_show = $('#flickr_show').flickrshow({
				        autoplay:true,
				        interval:5000,
				        set: '<%= @show.flickr_id %>'
				    });
				});
			    </script>
			<% end %>
		</div>
	</div>
<% end %>