<% content_for :head do %>
	<% if params[:url_key].blank? && !@show.url_key.blank? %>
		<link type="canonical" href="<%= vanity_path(@show.url_key) %>">
	<% end %>
<% end %>

<div class="row show-header">
	<div class="span12">
		<% if !@show.approved %>
			<h1>DRAFT VIEW - Awaiting Approval</h1>
		<% end %>
		<h2 class="<%= @show.accent_color ? @show.accent_color.to_s : 'no_color' %>"><%= @show.title %></h2>
		<p class="writer"><%= @show.writer %></p>
		<p class="tagline"><%= @show.tagline %></p>
	</div>
</div>


<% if @show.poster.exists? %>
	<div class="row poster">
		<div class="span10 offset1">
			<%= image_tag @show.poster.url %>
		</div>
	</div>
<% end %>

<div class="row">
	<div class="span6 offset3 description">
		<%= h(@show.description).gsub(/\n/, '<br/>').html_safe %>
	</div>
</div>

<div class="row">
	<div class="span3 offset3 performances">
		<h5>Performances</h5>
		<% @show.showtimes.each do |showtime| %>
			<%= format_showtime_full(showtime.timestamp) %><br />
		<% end %>
		@ <%= @show.location.blank? ? "???" : @show.location %>
	</div>
	<div class="span3 reservations">
		<h5>Reservations</h5>
		<%= get_reservation_line(@show, true) %>
	</div>
</div>

<div class="row">
	<div class="cast span4 offset2">
		<h5>Cast</h5>
		<table>
			<% @show.cast.select{|sp| sp.person_id }.each do |sp| %>
				<tr><td><%= link_to sp.person.display_name, sp.person %></td><td><%= sp.display_name %></td></tr>
			<% end %>
		</table>
		<% if @show.auditions.where(["`timestamp` > ?", Time.now]).count > 0 %>
			<br />
			<%= link_to "Audition Information", show_auditions_path(@show) %>
		<% end %>
	</div>

	<div class="crew span4">
		<h5>Production Staff</h5>
		<table>
			<% @show.crew.each do |sp| %>
				<tr><td><%= sp.display_name %></td><td><%= link_to sp.person.display_name, sp.person %></td></tr>
			<% end %>
		</table>
		<% if @show.has_opportunities? %>
			<br />
			<%= link_to "Find tech opportunities", opportunities_path %>
		<% end %>
	</div>
</div>

<% if @s3_objects.count > 0 || !@show.flickr_id.blank? %>
	<div class="row">
		<div class="span6 offset3 media">
			<h5>Media & Downloads</h5>
			<% @s3_objects.in_groups_of(3) do |arr| %>
				<div class="row">
					<% arr.each do |obj| %>
						<div class="span2">
							<%= link_to obj.key.split("/")[-1], "#{obj.url_for(:read)}" %>
						</div>
					<% end %>
				</div>
			<% end %>
			<% unless @show.flickr_id.blank? %>
				<div class="row">
					<h5>Slideshow</h5>
					<div class="slideshow" id="flickr_show">
					    <p>Please enable Javascript to view this slideshow</p>
					</div>
				</div>
				<% content_for :head do %>
					<%= javascript_include_tag("flickrshow-7.2.js") %>
				<% end %>
				<script>
				$(document).ready(function() {
					var flickr_show = $('#flickr_show').flickrshow({
				        autoplay:true,
				        interval:5000,
				        set: '<%= @show.flickr_id %>'
				    });
				});
			  </script>
			<% end %>
		</div>
	</div>
<% end %>





