<% content_for :head do %>
	<% if params[:url_key].blank? && !@show.url_key.blank? %>
		<link type="canonical" href="<%= vanity_path(@show.url_key) %>">
	<% end %>
<% end %>

<% if @show.poster.exists? %>
		<div class="poster">
			<%= image_tag @show.poster.url(:medium) %>
		</div>
<% end %>

<div class="show info">
	<div class="title"><%= @show.title %></div><br />
	
	<strong>By:</strong> <%= @show.writer %><br />
	<%= @show.tagline if !@show.tagline.blank? %><%= raw "<br />" if !@show.tagline.blank? %>
	<strong>Place:</strong> <%= @show.location %><br />
	<% @show.showtimes.each do |showtime| %>
		<%= format_showtime_full(showtime.timestamp) %><br />
	<% end %>
	Reservations: 
	<%= get_reservation_line(@show) %>
</div>

<div class="description">
	<%= h(@show.description).gsub(/\n/, '<br/>').html_safe %>
</div>

<hr />

<div class="cast" align="center">
	<h4>Cast:</h4>
	<table>
	<% @show.cast.select{|sp| sp.person_id }.each do |sp| %>
		<tr><td><%= link_to sp.person.display_name, sp.person %></td><td><%= sp.display_name %></td></tr>
	<% end %>
	</table>
</div>

<div class="crew" align="center">
<h4>Crew:</h4>
	<table>
	<% @show.crew.each do |sp| %>
		<tr><td><%= sp.display_name %></td><td><%= link_to sp.person.display_name, sp.person %></td></tr>
	<% end %>
	</table>
</div>

<div class="files">
	<h4>Files</h4>
	<% @s3_objects.each do |obj| %>
		<%= link_to obj.key.split("/")[-1], "#{obj.url_for(:read)}" %><br />
	<% end %>
</div>

<% unless @show.flickr_id.blank? %>
	<h4>Photo Archive</h4>
	<div class="slideshow" id="flickr_show" style="height:550px; width: 700px">
	    <p>Please enable Javascript to view this slideshow</p>
	</div>
	<% content_for :head do %>
		<%= javascript_include_tag("flickrshow-7.2.coffee") %>
	<% end %>
	<script>
	$(document).ready(function() {
		var flickr_show = $('#flickr_show').flickrshow({
	        autoplay:true,
	        interval:5000,
	        set: '<%= @show.flickr_id %>'
	    });
	});
  </script>
<% end %>