<!DOCTYPE html>
<head>
    <title>Yale Drama Coalition<%= @page_name %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <meta name="description" content="The Yale Drama Coalition is an organization for the furthering of theater at Yale University.">
    <meta name="keywords" content="Yale, theater, information, theatre, dramat, drama, coalition, University, repertory, mailing">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Favicon-->
    <link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>">
    <link rel="apple-touch-icon" href="<%= image_path 'apple-touch-icon.png' %>">
    
    <!--[if lt IE 9]>
        <%= javascript_include_tag "html5shiv-p" %>
    <![endif]-->
    
    <!--Fonts-->    
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/ekt1irl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= yield :head %>
</head>

<body <%= yield :body_tag_content %>>

	<header>
	   <nav id="nav-main" class="navbar navbar-static-top">
	       <div class="navbar-inner">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <%= link_to root_path, :class=> "brand", :title => "Yale Drama Coalition" do %>
                    <%= image_tag('umbrella.png') %>
                <% end %>
                 <%= link_to root_path, :class=> "brand hidden-desktop", :title => "Yale Drama Coalition" do %>
                    <span>&nbsp; Yale Drama Coalition</span>
                <% end %>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                    	<li><%= link_to "Home", root_path, :class => @active_nav == :home ? "active" : "" %></li>
                    	<li><%= link_to "Shows", shows_path, :class => @active_nav == :calendar ? "active" : "" %></li>
                    	<li><%= link_to "Auditions", auditions_path, :class => @active_nav == :auditions ? "active" : "" %></li>
                    	<li><%= link_to "Opportunities", opportunities_path, :class => @active_nav == :opportunities ? "active" : "" %></li>
                    	<li><%= link_to "Learn", resources_path, :class => @active_nav == :learn ? "active" : "" %></li>
                    </ul>
                    <form class="navbar-search pull-left" method="GET" action="/search">
                        <div class="input-append">
                        	<input type="text" class="search-query" name="name">
                        	<button type="submit" class="btn"><i class="icon-search icon-white"></i></button>
                        </div>
                    	<input type="hidden" name="header_search" value="1">
                    </form>
                    <ul id="nav-user" class="nav pull-right">
                        <li><%= link_to (@current_user ? "My Dashboard" : "Sign In"), dashboard_path %></li>
                    </ul>
                </div>
	       </div>
	   </nav>
	</header>																																					

	<div id="main" class="<%= params[:controller] %> <%= params[:action] %>">
    	<div class="container">
    	<% if flash[:notice] %>
	       <div class="alert alert-info"><%= flash[:notice] %></div>
	    <% end %>
	    <% if flash[:error] %>
	       <div class="alert alert-error"><%= flash[:error] %></div>
	    <% end %>
	    
		<%= yield %>
    	</div>
	</div>

	<footer>
		<div class="container">
		<div class="row">
    		<div class="span5">
    			Code by <a href="http://charliecroom.com" title="Charlie Croom" target="_blank">CC</a> with Design by <a href="http://jaredshenson.com" title="Jared Shenson" target="_blank">JS</a>
    		</div>
    		<div class="span2 center">
        		<%= image_tag "umbrella-foot.png", :id => "footer-umbrella" %>
    		</div>
    		<div class="span5 right">
    		    &copy; 2013 Yale Drama Coalition
    		</div>
		</div>
		</div>
	</footer>

	<%= render :partial => "shared/dialogs" %>
	
	<!-- Google Analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '<%= GA_ACCOUNT %>']);
	  // _gaq.push(['_setDomainName', 'yaledramacoalition.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>
