<!DOCTYPE html>
<head>
  <title>Yale Drama Coalition<%= @page_name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="description" content="The Yale Drama Coalition is an organization for the furthering of theater at Yale University.">
	<meta name="keywords" content="Yale, theater, information, theatre, dramat, drama, coalition, University, repertory, mailing">
	
	<!--Favicon-->
	<link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>">
	<link rel="apple-touch-icon" href="<%= image_path 'apple-touch-icon.png' %>">

	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="//use.typekit.net/ekt1irl.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<%= yield :head %>
</head>
<body>

<div class="sidebar">
	<div class="header">
	<%= image_tag 'header.png' %>
	<% if @page_header_title %>
		<h1><%= @page_header_title %></h1>
	<% end %>
	</div>
	<nav>
		<ul class="nav">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Upcoming", shows_path %></li>
			<% if @current_user %>
				<li><%= link_to "My Dashboard", dashboard_path %></li>
			<% else %>
				<li><%= link_to "Login", dashboard_path %></li>
			<% end %>
			<li><%= link_to "Auditions", auditions_url %></li>
			<li><%= link_to "Opportunities", opportunities_path %></li>
			<li>Other</li>
			<li>About Us</li>
			<li><%= link_to "Resources", resources_path %></li>
			<li><%= link_to "Search", search_path %></li>
			<li><%= link_to "Archives", archives_path %></li>
			<li>Playground</li>
			<li><%= link_to "Contact Us", "mailto:#{YDC_EMAIL}" %></li>
		</ul>
	</nav>
</div>

<div class="content">
	<%= yield %>
</div>




<div class="footer">
	<hr />
	<p>
	Site coded by Charlie Croom<br />
	Original Design by Ian Janer and John Yates<br /><br /><br />
	Please note that the YDC is simply a coordinating organization and does not produce any of the shows listed on this site. 
	Show specific questions should be directed to the appropriate show's director or producer.
	</p>
</div>

</body>
</html>
